.form-container {
  display: flex;
  justify-content: center; /* Horizontally centers items */
  align-items: center; /* Vertically centers items */
  flex-direction: column; /* Arranges items in a column */
  
   /* Added border for visibility */
  padding: 20px; /* Optional: Add padding for spacing */
  height: 100vh; /* Set container height to full viewport height */
  box-sizing: border-box; /* Include padding and border in height calculation */
}

.logotitle{
    margin-top: 25px;
    font-size: 40px;
    font-weight: 400;
    color: orange;   
}
.outlined-textfield {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42); /* Bottom border */
  padding: 10px;
  outline: none;
  background-color: transparent; /* Transparent background */
}

.placeholder {
  position: absolute;
  top: 12px;
  left: 10px;
  transition: top 0.3s, font-size 0.3s;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.42); /* Placeholder text color */
}

.outlined-textfield:focus + .placeholder,
.outlined-textfield:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 12px;
}
.textfield {
    width: 300px;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 4px; 
    background-color: transparent;
    padding: 10px;
    font-family: sans-serif;
    font-size: 16px;
  }
  .textfield:hover {
    border-color: #ccc; 
  }
  
  .textfield:focus {
    border-color: #eaeaea; 
    outline: none; 
  }
  
  .textfield::placeholder {
    color: #363636;
    opacity: 0.7; 
  }
  
  .button{
    width: 300px;
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 4px; 
    background-color: orange;
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
  }
  .button:hover{
    cursor: pointer;
  }
  .note{
    margin-top: 40px;
    font-size: medium;
    color: orange
  }
  .note:hover{
    cursor: pointer;
  }